* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: arial, calibri, sans-serif; 
}

.container {
	min-width: 320px;
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

.listReset {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}